AddDefaultCharset utf-8

ErrorDocument 404 "Oops! Da stimmt was nicht!"

DirectoryIndex index.php

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Setze RewriteBase
    RewriteCond %{ENV:REDIRECT_STATUS} =""
    RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

    # Rewrite Sitemaps
    RewriteRule ^sitemap(\..+)?\.xml$ %{ENV:BASE}/sitemaps/sitemap$1.xml [NC,QSA,L]

    # Pipe Assets Requests through
    RewriteCond %{REQUEST_URI} !^/(bundles|app|mail)/ [NC]

    # Alle übrigen Anfragen an Framework übergeben
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ %{ENV:BASE}/index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 307 ^/$ /index.php/
    </IfModule>
</IfModule>