@import "./components/layout.css";
@import "./components/api.css";
@import "@fortawesome/fontawesome-free";
@import "@fortawesome/fontawesome-free/css/brands";
@import "@fortawesome/fontawesome-free/css/solid";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "FF DIN";
    font-weight: 400;
    src: url(../fonts/ffdin.ttf) format("truetype");
  }
  @font-face {
    font-family: "FF DIN Medium";
    font-weight: 400;
    src: url(../fonts/ffdin-medium.ttf) format("truetype");
  }
  @font-face {
    font-family: "FF DIN Bold";
    font-weight: 400;
    src: url(../fonts/ffdin-bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Brushed";
    font-weight: 400;
    src: url(../fonts/brushed.ttf) format("truetype");
  }


  html {
    @apply text-base;
  }
}

@layer components {
  .parallax-container {
    position: relative;
    /*
     * Versionen < 16  von Safari unterstützen kein overflow-clip.
     * Um Overflow am Seitenende zu vermeiden wird die Containerhöhe in diesen Browser Versionen limitiert.
     * Damit wird der Parallax-Effekt deaktiviert.
     */
    @supports (overflow: clip) {
      overflow: clip;
      height: 2000vh;
      margin-top: -1000vh;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #e8c400;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}