APP_SECRET='4hajgyhmv19cibsvzj2kollewhd7nmnq'
DATABASE_URL='mysql://${IONOS_DB_USERNAME}:${IONOS_DB_PASSWORD}@${IONOS_DB_HOST}/${IONOS_DB_NAME}'
MAILER_DSN='smtp://${$IONOS_MAIL_USERNAME}:${IONOS_MAIL_PASSWORD}@${IONOS_MAIL_HOST}:${IONOS_MAIL_PORT}'
MAIL_ENCRYPTION=$IONOS_MAIL_ENCRYPTION
MAIL_FROM_ADDRESS=$IONOS_MAIL_FROM_ADDRESS
