APP_ENV=prod
APP_DEBUG=0
APP_SECRET=$SYMFONY_APP_SECRET
DEPLOYMENT_GITHUB_REPOSITORY=$DEPLOYMENT_REPOSITORY
DEPLOYMENT_GITHUB_SHA=$DEPLOYMENT_SHA
DEPLOYMENT_GITHUB_SHORT_SHA=$DEPLOYMENT_SHA_SHORT
DATABASE_URL="mysql://${IONOS_DB_USERNAME}:${IONOS_DB_PASSWORD.urlEncoded()}@${IONOS_DB_HOST}/${IONOS_DB_NAME}"
MAILER_DSN="smtp://${IONOS_PRODUCTION_MAIL_USERNAME}:${IONOS_PRODUCTION_MAIL_PASSWORD.urlEncoded()}@${IONOS_MAIL_HOST}:${IONOS_MAIL_PORT}"
MAIL_FROM_ADDRESS=$IONOS_MAIL_FROM_ADDRESS
MAIL_LOG_RECIPIENT=$MAIL_LOG_RECIPIENT