@keyframes placeHolderShimmer {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}

.animated-background {
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-size: 200em;
  height: 1em;
  overflow: hidden;
}
