@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  .horizontal-auto-parallax {
    animation: move-forever 30s linear infinite;
  }

  .horizontal-auto-parallax:nth-child(1) {
    animation-delay: -10s;
    animation-duration: 40s;
    opacity: 0.6;
  }

  .horizontal-auto-parallax:nth-child(2) {
    animation-delay: -5s;
    animation-duration: 30s;
    opacity: 0.8;
  }

  .horizontal-auto-parallax:nth-child(3) {
    animation-delay: -20s;
    animation-duration: 40s;
  }

  .horizontal-auto-parallax:nth-child(4) {
    animation-delay: -10s;
    animation-duration: 30s;
    opacity: 0.4;
  }

  @keyframes move-forever {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }

  .spacer {
    @apply invisible h-8;
  }

  .spacer-16 {
    @apply h-16;
  }

  .spacer-32 {
    @apply h-32;
  }

  .spacer-36 {
    @apply h-36;
  }

  .spacer-48 {
    @apply h-48;
  }
}
