@import "./components/header.css";
@import "./components/api.css";
@import "@fortawesome/fontawesome-free";
@import "@fortawesome/fontawesome-free/css/brands";
@import "@fortawesome/fontawesome-free/css/solid";

@tailwind base;
@tailwind components;
@tailwind utilities;

main a {
  @apply text-yellow;
}

main a:hover {
  @apply text-orange;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #e8c400;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
