@import "./components/components.css";
@import "./components/layout.css";
@import "./components/api.css";
@import "@fortawesome/fontawesome-free";
@import "@fortawesome/fontawesome-free/css/brands";
@import "@fortawesome/fontawesome-free/css/solid";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "FF DIN";
    font-weight: 400;
    src: url(../fonts/ffdin.ttf) format("truetype");
  }
  @font-face {
    font-family: "FF DIN Medium";
    font-weight: 400;
    src: url(../fonts/ffdin-medium.ttf) format("truetype");
  }
  @font-face {
    font-family: "FF DIN Bold";
    font-weight: 400;
    src: url(../fonts/ffdin-bold.ttf) format("truetype");
  }

  html {
    @apply text-base;
  }
}

main a {
  @apply text-orange;
}

main a:hover {
  @apply text-yellow;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #e8c400;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
