@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-navigation-fixed {
    @apply absolute;
  }

  .main-navigation-toggle {
    @apply fixed;
  }

  .main-navigation-fixed[aria-expanded="true"] {
    @apply w-full h-36 opacity-100;
  }

  .main-navigation-fixed[aria-expanded="false"] {
    @apply w-full h-36 opacity-100;
  }

  .main-navigation-toggle[aria-expanded="true"] {
    @apply w-screen h-screen opacity-100;
  }

  .main-navigation-toggle[aria-expanded="false"] {
    @apply w-0 h-0 opacity-0;
  }
}

.logo {
  border-radius: 50%;
}

.logo picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 15%;
}

.logo picture img {
  width: inherit;
  height: inherit;
}