APP_SECRET='4hajgyhmv19cibsvzj2kollewhd7nmnq'
DATABASE_URL='mysql://dbu2801517:F2Iz5fPbFAlGLC4g0NgQIFCe@db5010588001.hosting-data.io/dbs8961756'
MAILER_DSN='smtp://${$IONOS_MAIL_USERNAME}:${IONOS_MAIL_PASSWORD}@${IONOS_MAIL_HOST}:${IONOS_MAIL_PORT}'
MAIL_ENCRYPTION=$IONOS_MAIL_ENCRYPTION
MAIL_FROM_ADDRESS=$IONOS_MAIL_FROM_ADDRESS
