<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase "/"

    # RewriteCond %{HTTPS} off [OR]
    # RewriteCond %{HTTP_HOST} ^www\. [NC]
    # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Funnel page requests to index and try to serve content:
    RewriteCond pages/%{REQUEST_URI}.php -F
    RewriteRule ^([^/].+)$ index.php/$1 [QSA,END]

    # Rewrite requested resources from legacy pages:
    RewriteCond pages/%{REQUEST_URI}.php !-F
    RewriteCond legacy/pages/%{REQUEST_URI} -F
    RewriteRule ^(.+)$ legacy/pages/$1 [QSA,NS,L]
    
    # Try serving any file not found from legacy directory:
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond legacy/%{REQUEST_URI} -F
    RewriteRule ^([^/].+)$ legacy/$1 [L]
</IfModule>

# ErrorDocument 404 /index.php/404