<phpunit 
    cacheResultFile="var/phpunit/cache/.phpunit.result.cache"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    cacheResultFile="var/cache/.phpunit.result.cache"
>
    <coverage cacheDirectory="var/phpunit/cache"
            includeUncoveredFiles="true"
            processUncoveredFiles="true"
            pathCoverage="true"
            ignoreDeprecatedCodeUnits="true">
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <report>
            <html outputDirectory="var/phpunit/coverage" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="full">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_CLASS" value="Jazzfreunde\App\Kernel" force="true"/>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="APP_DEBUG" value="true" force="true"/>
    </php>
</phpunit>