@import "./components/footer.css";
@import "./components/header.css";
@tailwind base;
@tailwind utilities;

a:hover {
  @apply text-yellow;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #e8c400;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
