@import "./components/footer.css";
@import "./components/header.css";
@tailwind base;
@tailwind utilities;

.logo {
  border-radius: 50%;
}

.logo picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 15%;
}

.logo picture img {
  width: inherit;
  height: inherit;
}

a:hover {
  @apply text-yellow;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #e8c400;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
