/*
  Designed for Jazzfreunde Ingolstadt e. V. by HoeppyMedien
*/
html { height:100%; margin:0; }
body { height:100%; background:#242c7f; color:#e8c400; font-size:100%; margin:0; font-family:Arial,sans-serif; } /*Helvetica*/
a:link, a:visited, a:active { color:#0000ff; text-decoration:underline; } /*color:#ee8811;*/
#menu a { text-decoration:none !important; display:block; line-height:1.5em; text-align:center; color:#ee8811; }
#menu a:hover { background:#e8c400; color:#242c7f; }
#menu a.selected { background:#ee8811 !important; color:#242c7f !important; font-weight:bold; }
h1, h2, h3 { color:#ee8811; clear:both; }
h5, .emboss { color:#ee8811; font-size:110%; text-align:left; text-decoration:none; font-weight:bold; }
h6 { font-size:100%; font-weight:bold; text-decoration:underline; }
.hl { font-weight:bold; text-decoration:underline; font-style:italic; }

h1:first-letter { color:#bf1300; }

/*h2 { background:#242c7f; color:#e8c400; }*/

#headline { text-align:center; background:#242c7f; color:#ee8811; font-size:1.8em; height:50px; }

#logo { margin-top:0.4em; margin-bottom:1em; }

#content { background-color:#eeeef0; background-repeat:repeat-y; background-position:center center; color:#242c7f; padding:0.5em; border-left:2px solid #ee8811; } /* background-image:url('../gfx/previewback.png'); */

#splash { margin:0; padding:0; text-align:center; }

#footer { background:#ee8811; color:#242c7f; font-size:0.8em; text-align:center; font-weight:bold; height:30px; }

p { text-align:justify; }
p:first-letter { font-weight:bold; }
.small { font-size:0.9em; }
small { font-weight:normal; font-size:0.6em; }
img { border-width:0px; }
img.framed { border:1px dotted #e8c400 !important; }

.left { text-align:left; }
.center { text-align:center; }
.right { text-align:right; }
.justify { text-align:justify; }

.highlight { color:#bf1300; font-weight:bold; font-style:italic; }

li { margin-top:0.4em; margin-bottom:0.4em; }

.nolist { list-style-type:none; }

.nobreak { white-space:nowrap; }

.stroke { text-decoration:line-through; }
.red { color:#ff0000; }

blockquote { font-size:0.95em; font-style:italic; }
blockquote p:first-letter { font-weight:inherit; }

.signum { font-family:"Lucida Handwriting",cursive,serif; font-style:italic; font-size:1.05em; }

.attachment { font-size:0.9em; font-style:italic; color:#404040; margin-top:1.5em; }

tt { font-weight:bold; }

.backlink { margin-top:2em; margin-left:2em; margin-bottom:1em; margin-right:2em; width:10em; padding:0em; border:1px #242c7f dotted; background:#e8c400; color:#242c7f; }
.backlink a { display:block; padding:0.5em; font-weight:bold; text-align:center; color:#bf1300; text-decoration:underline; }

/* SPLASH */

#introtable { height:100%; width:525px; border:none; border-collapse:collapse; }

#introtable td { text-align:center; }

.lineleft { border-left-style:solid; border-left-width:2px; }
.lineright { border-right-style:solid; border-right-width:2px; }
.lineorange { border-color:#ee8811; }

#introtable a { color:#ee8811; }

.splash_text a { text-decoration:none !important; display:block; line-height:1.5em; text-align:center; color:#ee8811; }

/* INHALT */

#splashtable { height:100%; width:100%; }


/* KASTEN */

.kasten { border:1px #242c7f dotted; background:#e8c400; color:#242c7f; }
.kasten_h1 { font-size:1.1em; font-weight:bold; text-align:center; color:#bf1300; padding:0.3em; }
.kasten_h2 { text-align:center; color:#242c7f; padding:0.3em; font-style:italic; }
.kasten_p { font-size:0.95em; text-align:justify; color:#242c7f; padding:0.3em; }
.kasten a:link, .kasten a:visited, .kasten a:active { color:#bf1300; text-decoration:underline; }

/* UEBER UNS */
.person { clear:both; margin-left:20%; margin-right:20%; margin-bottom:1em; min-height:94px; }

.person img { margin:4px; }

.even img { float:left; }
.odd img { float:right; }

#impressum {  }

#impressum p { padding:1em; margin:1em; }

/* KONTAKT */
#mailtable { width:80%; }
#mailtable * { text-align:left; }
#myname { width:20em; }
#mymail { width:20em; }
#mailsubject { width:100%; }
#mailcontent { width:100%; }

/* TIPPS */
.tipp { clear:both; margin-left:20%; margin-right:20%; margin-bottom:1em; }

/* LINKS */

.linktable { }

.linktable td { vertical-align:top; }

.link { margin-left:5%; margin-right:5%; margin-bottom:1em; }

.link_line img { margin:2px; float:left; }

/* VERANSTALTUNGEN */
.termine * { text-align:left; }
.termine tbody tr td, .termine tbody tr th { border-bottom:1px solid #e8c400; }
.termine thead tr td, .termine thead tr th { border-bottom:1px solid #ee8811; }
.termine img, .termine a { border:none !important; }
.termine th { font-weight:bold; }
.termine .session { background:#ede6c5 !important; }
.termine .jazztage { background:#d7e9d8; }
.wochentag { font-variant:small-caps; letter-spacing:2px; }

table.flyerappend { border:none; border-spacing:5px; float:right; margin-left:1em; margin-bottom:0.5em; margin-top:0.5em; margin-right:2px; background:#e8c400; }
table.flyerappend td { border:none; padding:5px; text-align:center; }

/* JAZZLEHRER */
#jazzlehrer { font-size:95%; }
#jazzlehrer * { text-align:left; }
#jazzlehrer thead tr th { border-bottom:1px solid #ee8811; }
#jazzlehrer tbody tr td, #jazzlehrer tbody tr th { border-bottom:1px solid #e8c400; }

/* JAZZTAGE / AKTUELLES EVENT */
ul.jt_termine { list-style-type:none; }
ul.jt_termine ul { margin-bottom:0.8em; }
.jt_date { font-weight:bold; }
.jt_comment { font-style:italic; }
#videoFrame { text-align:center; }

/* TICKER */
/*.tickerframe { border:2px solid #ee8811; background:#e8c400; }*/
.tickerframe { border:1px dotted #242c7f; padding:1px; background:#e8c400; }
.tickerhead { font-weight:bold; padding-left:1em; padding-top:0.5em; margin-bottom:0.2em; padding-bottom:0.5em; border-bottom:1px solid #ee8811; }
.ticker { width:100%; border-collapse:collapse; }
.tickline { vertical-align:top; text-align:left; width:90%; margin:0; padding:0.1em; border-bottom:1px dotted #ee8811; }
.ticktime { font-size:80%; text-align:left; vertical-align:top; line-height:1.5em; white-space:nowrap; overflow:visible; color:#808080; margin:0; padding:0.1em; border-bottom:1px dotted #ee8811; }

.t_stroke { text-decoration:line-through; color:#606060; }
.t_important { font-weight:bold; color:#a00000; }
.t_breaking { font-style:italic; }

/* ADMIN */

.admininfo { padding:0.5em; margin-top:0.5em; margin-bottom:0.5em; font-size:90%; border:1px solid #242c7f; }
.admintickerentry { margin-top:0.5em; margin-bottom:0.5em; border:2px solid #ee8811; }
.admintickerdate { font-size:80%; padding:0.2em; }
.admintickertext { padding:0.2em; background:#e8c400; }
.admintickereditor { padding:0.2em; margin-top:0.2em; }
.admintickereditor textarea { width:100%; height:10em; }
.adminsubmit { text-align:center; }
.admintickerupdate { padding:0.2em; }
.admintickerflags { padding:0.2em; margin-top:0.5em; margin-bottom:0.5em; }

/* PRESSESTIMMEN */

.newssource { color:#bf1300; font-weight:bold; font-size:95%; }
.newsauthor { color:#404040; font-style:italic; font-size:95%; }
.newsmore { text-indent:3em; font-size:95%; }

/* BILDER */

.navitable { background:#e8c400; font-weight:bold; }
.navitable .back { text-align:left; }
.navitable .page { text-align:center; }
.navitable .next { text-align:right; }

.thumbtable, .imagetable { margin-top:0.6em; margin-bottom:0.6em; }

.thumbnail { background:#ee8811; overflow:hidden; }

/* MITGLIED WERDEN */

#beitrag { border:1px solid #242c7f; color:#242c7f; }
#beitrag td, #beitrag th { padding:0.5em; }
#beitrag thead th { border-bottom:1px solid #242c7f; }

#beitrag th { text-align:left; }
#beitrag thead th + th { text-align:right; }
#beitrag tbody th + td { text-align:right; }

#mgtable { border:1px solid #242c7f; background:#e8c400; }

#mgtable th { text-align:right; }
#mgtable td { text-align:left; }

#mgtable .buttoncell { text-align:center; background:#ee8811; border-top:1px solid #242c7f; }
#mgtable .checkcell { text-align:left }

#mgtable tr.tr_mg_name td, #mgtable tr.tr_mg_name th { border-top:1px solid #242c7f; }
#mgtable tr.tr_mg_address td, #mgtable tr.tr_mg_address th { border-top:1px solid #242c7f; }
#mgtable tr.tr_mg_bank td, #mgtable tr.tr_mg_bank th { border-top:1px solid #242c7f; }
#mgtable tr.tr_mg_newsletter td, #mgtable tr.tr_mg_newsletter th { border-top:1px solid #242c7f; }

#mgchecktable { border:1px solid #242c7f; background:#e8c400; }
#mgchecktable .buttoncell { text-align:center; background:#ee8811; border-top:1px solid #242c7f; }

/* MESSAGES */

.message { border:2px solid #242c7f; padding:0.5em; text-align:center; }
.error { border:2px solid #a00000; padding:0.5em; text-align:center; }
